h1 {
  font-size: 40px;
  font-family: Arial
}

h2 {
  font-size: 25px;
  font-family: Arial
}

h3 {
  font-family: Arial
}

p {
  font-size: 14px;
  font-family: Arial
}
HEAD

HEAD
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial

div {
background-color: darkcyan;
text-align: right;
add-unit-content

div {
background-color: blue;
text-align: right;
3a2b33c7dcc480b10dbfeb52f95f188ca17c2c9c
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}